<div>
    <h1>REAL TIME PRODUCTS</h1>
    <div></div>
</div>
<script src="/socket.io/socket.io.js"></script> <!-- Esto ejecuta la conexion d eparte del cliente. -->
<script src="./js/realTimeProducts.js"></script>