<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    {{{body}}} <!-- Aqui va el contendio que se almacena en la de "views"(son como componentes.-->
</body>
</html>
