<div class="carritos">
    <h1>Carritos </h1>
    <div class="boxProducts"></div>
</div>
<!--<script src="/socket.io/socket.io.js"></script>  Esto ejecuta la conexion d eparte del cliente. -->
<script src="./js/carritos.js"></script>