<div class="home">
    <h1>HOME - PRODUCTS</h1>
    <div class="boxProducts"></div>
</div>
<script src="/socket.io/socket.io.js"></script> <!-- Esto ejecuta la conexion d eparte del cliente. -->
<script src="./js/home.js"></script>